# --- API ---
fastapi==0.115.0
uvicorn[standard]==0.37.0
click>=8.1.7,<9

# --- NumPy / Hub ---
numpy==1.26.4
huggingface_hub==0.25.2
langdetect==1.0.9
# python-multipart==0.0.9     # décommente si tu traites des uploads de fichiers

# --- Kokoro TTS ---
kokoro==0.7.0

# --- Japonais ---
pyopenjtalk==0.3.3
fugashi[unidic-lite]==1.3.1
jaconv==0.4.0
mojimoji==0.0.12

# --- Chinois ---
ordered-set==4.1.0
pypinyin==0.49.0
cn2an==0.5.22
jieba==0.42.1
